<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Cards</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <section class="title-section">
          <h1> <a href="/">Dream Board </a> </h1>
          <h4> Envision Your Dreams </h4>
          <p>
            A space to keep all of your dreams!
          </p>
        </section>
      </nav>

    <nav class="homepageNav">
        <% if (locals.user) { %>
            <a href="/cards">Your Dream Board</a>
            <a href="/logout" class="btn"> Logout</a>
        <% } else { %>
            <a href="/signup" class="btn"> Signup</a>
            <a href="/login" class="btn"> Login</a>
            <% } %> 
     </nav>
     <main>
      <section class="flex-sbs">
        <img class="demoImg" src="./images/demo.jpg" alt="">
        <div>
          <h3>Add a dream</h3>
          <p>Set a topic for your dream, add it and watch your board populate with dream cards!</p>
        </div>
      </section>

     </main>

</body>
</html>