@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


:root{
    --clr-primary-500: hsl(0, 78%, 62%);
    --clr-primary-400: hsl(212, 86%, 64%);
    --clr-primary-200: hsl(34, 97%, 64%);
    --clr-primary-100: hsl(180, 62%, 55%);

    --clr-neutral-500: hsl(234, 12%, 34%);
    --clr-neutral-300:hsl(229, 6%, 66%); 
    --clr-neutral-100: hsl(0, 0%, 98%);
}
a{
    text-decoration: none;
    color: var(--clr-neutral-500);
}

.clr-money{

}
.clr-family{

}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: var(--clr-neutral-100);
    margin-bottom: 4em;
    display: grid;
    justify-content: center;
    align-content: center;
}

main{
    width: 100%;

}

.title-section{
    text-align: center;
    max-width: 36em;
    margin: 4em auto;
    padding: 1em;
}

h1{
    font-size: 2.2em;
    font-weight: 200;
    color: var(--clr-neutral-500);
    margin: 0.2em 0;
}

h3{
    font-size: 2.1em;
    font-weight: 200;
    color: var(--clr-neutral-500);
    margin: 0.2em 0;
}

h4{
    font-size: 2.1em;
    font-weight: 700;
    color: var(--clr-neutral-500);
    margin: 0.2em 0;
}

p{
    color: var(--clr-neutral-300);

}

.card-container{
    display: grid;
    justify-content: center;
    width: 90vw;
    margin: auto;
    padding: 1em;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 3em;
    /* grid-template-rows: repeat(auto-fit); */
    /* grid-template-areas: 
    "card1 card2"
    "card1 card2"
    "card3 card4"
    "card3 card4"; */
}

/* @media screen and (max-width: 50em) {
    .card-container{
        grid-template-areas: 
        "card1"
        "card2"
        "card3"
        "card4";
    }
}  */
/* 
@media screen and (min-width: 70em) {
    .card-container{
        grid-template-areas: 
        ". card2 ."
        "card1 card2 card4"
        "card1 card3 card4"
        ". card3 .";
    }
}  */

.card{
    background-color: white;
    padding: 2em;
    box-shadow: 1px 0px 20px hsla(229, 6%, 66%, 0.483);
    display: flex;
    flex-direction: column;
    width: 20em;
    max-width: 75vw;
    border-radius: 5px;
    margin:auto;
}
.card.card-Self{
    border-top: 4px solid var(--clr-primary-100);
}
.card.card-Family, .card.card-Health{
    border-top: 4px solid var(--clr-primary-500);
}
.card.card-Money{
    border-top: 4px solid var(--clr-primary-200);
}
.card.card-Friendship{
    border-top: 4px solid var(--clr-primary-400);
}

.card-title{
    color: var(--clr-neutral-500);
    font-size: 1.9em;
}

.card-img{
    width: 3em;
    align-self: flex-end;
}

.card-p{
    color: var(--clr-neutral-300);
    margin-bottom: 2em;
}

.deleteBtn{
    background:none;
    padding: 0px;
    border: none;
    width: 40px;
    cursor: pointer;
}

.deleteForm{
    display: flex;
    justify-content: space-between;
}

.dreamForm, 
.loginForm,
.signupForm{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 40em;
    max-width: 75vw;
    gap: 2em;
    margin: auto;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 1px 0px 20px hsla(229, 6%, 66%, 0.483);
    margin-top: 4em;
    align-items: center;
}

.dreamForm h3{
    text-align: center;
}

.dreamForm input, 
.loginForm input,
.signupForm input{
    padding: 2em;
    background-color: var(--clr-neutral-100);
    border-radius: 5px;
    border: 1px solid var(--clr-neutral-300);
    max-width: 90%;
}
.dreamForm input[type="submit"], 
.loginForm input[type="submit"],
.signupForm input[type="submit"]{
    background:none;
    margin: auto;
    padding: 1em 2em;
    width: 10em;
    cursor: pointer;
    text-align: center;
    transition: all 400ms;

}

.dreamForm input[type="submit"]:hover,
.loginForm input[type="submit"]:hover,
.signupForm input[type="submit"]:hover{
    box-shadow: 1px 0px 12px hsla(229, 6%, 66%, 0.483);
    transition: all 400ms;
}

.dreamForm select{
    background-color: var(--clr-neutral-100);
    border-radius: 5px;
    border: 1px solid var(--clr-neutral-300);
    box-shadow: 1px 0px 12px hsla(229, 6%, 66%, 0.483);
    padding: 0.5em 1em;
    cursor: pointer;
    width: 10em;
    text-align: center;
}

.dreamForm label{
    font-size: 2em;
    font-weight: 500;
    color: var(--clr-neutral-500);
    /* margin: 0.2em 0; */
}

footer{
    margin: auto;
    margin-top:50px;
}

footer a{
    font-size: 1.4em;
    font-weight: 500;
    color: var(--clr-neutral-500);
    transition: all 400ms;
}

footer a:hover, 
.homepageNav a:hover, 
.loginForm a:hover,
.signupForm a:hover{
    opacity: 80%;
    text-shadow: 1px 0px 8px hsla(229, 6%, 66%, 0.383);
    transition: all 400ms;
}

.homepageNav{
    display: flex;
    justify-content: space-around;
}
.homepageNav a, 
.loginForm a,
.signupForm a{
    font-size: 1.4em;
    font-weight: 500;
    color: var(--clr-neutral-500);
    transition: all 400ms; 
}

.signupPage a,
.loginPage a{
    font-size: 1.4em;
    font-weight: 500;
    color: var(--clr-neutral-500);
    transition: all 400ms; 
}

.signupPage nav,
.loginPage nav{
    margin: auto;
}
.signupPage h2,
.loginPage h2{
    font-size: 1.4em;
    font-weight: 500;
    color: var(--clr-neutral-500);
    transition: all 400ms;   
}
.title-section a{
    text-decoration: inherit;
    color: inherit;
}

.errors{
    font-size: 1em !important;
    color: var(--clr-primary-500);
    text-align: center;
}

.dreamBoardNav{
    margin: auto;
    text-align: center;
}

.demoImg{
    width: 50%;
    box-shadow: 1px 0px 12px hsla(229, 6%, 66%, 0.483);
    margin-top: 50px;
}

.flex-sbs{
    display: flex;
    gap: 50px;
    padding: 50px;
    justify-content: center;
    align-items: center;
}